* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f5f9;
  overflow-x: hidden;
}
.parent {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbarback {
  width: 100%;
  background-color: #ffffff;
  height: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
#dashboardhead {
  margin-left: 2rem;
}
.herosection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-left: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.maincontainer {
  width: 95%;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.categorycontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-wrap: wrap;
}
.widget {
  width: 30%;
  height: 170px;
  background-color: #feffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.details {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}
#widgetdescription {
  font-size: small;
}
.cardscontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.icon {
  position: absolute;
  top: 0;
  right: 0;
}
